/* This style sheet includes rules for all buttons, including text buttons, outlined buttons, and contained buttons as well as their hover, focus. disabled, and focus properties */

/*

Note: All buttons should be assigned the following classes: 

1) btn (the main button class)

2) One of: txt, outlined, or contained (the style of the button)

3) One of bt1 or bt2 (whether the button is primary or secondary)

*/

/* Define styles for buttons in regular state */
.btn {
    display: block;
    padding: 10px 16px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    color: var(--primary-text);
}

/* Styles for Text buttons */
.btn.txt {
    background-color: transparent;
    border: none;
}

.btn.txt.bt1 {
    background-color: transparent;
    border: none;
    color: var(--primary-text);
}
.btn.txt.bt2 {
    background-color: transparent;
    border: none;
    color: var(--dark-blue);
}

/* Styles for outlined buttons */
.btn.outlined {
    background-color: transparent;
}

.btn.outlined.bt1 {
    border: 2px solid var(--orange);
}

.btn.outlined.bt2 {
    border-color: var(--dark-blue);
}


/* Styles for contained buttons */
.btn.contained {
    border: 2px solid transparent;
}

.btn.contained.bt1 {
    background-color: var(--orange);
}

.btn.contained.bt2 {
    background-color: var(--dark-blue);
    color: var(--secondary-text);
}

/* Styles for diabled button */
.btn.disabled {
    cursor: not-allowed;
    opacity: 0.5;
    pointer-events: none;
}

/* Define styles for buttons in hover state */
.btn.txt.bt1:hover,
.btn.outlined.bt1:hover {
    background-color: var(--orange-transparent);
}

.btn.txt.bt2:hover,
.btn.outlined.bt2:hover {
    background-color: var(--dark-blue-transparent);
}

.btn.contained:hover {
    background-color: transparent;
}

.btn.contained.bt1:hover {
    border-color: var(--orange);
    color: var(--orange);
}

.btn.contained.bt2:hover {
    border-color: var(--dark-blue);
    color: var(--dark-blue);
}

/* Define styles for buttons in active / pressed state */

.btn.txt.bt1:active,
.btn.outlined.bt1:active,
.btn.contained.bt1:active {
    background-color: var(--dark-blue);
    border-color: var(--dark-blue);
    color: var(--secondary-text);
}

.btn.txt.bt2:active,
.btn.outlined.bt2:active,
.btn.contained.bt2:active {
    background-color: var(--orange);
    border-color: var(--orange);
    color: var(--primary-text);
}