/* This style sheet includes rules for images throughout the site, including backgrounds, icons, logos, etc. */

.bg-image-home {
    background-image: url('../images/photos/road-to-mountains-desert-landscape.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100vh;
}

#personal-logo img {
    width: 100%;
}

.activity-card-media {
    grid-column: 1 / 2;
    grid-row: 1 / 5; /* Adjusted to span 4 rows */
    width: 100%;
    height: auto;
}
  
.activity-card-media img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}