/*
This stylesheet defines all global layout conventions, including backagrounds, div / container elements, etc.
*/

/* Main navigation styling */
.navbar {
    position: fixed;
    width: 100%;
    background: transparent;
    z-index: 1000;
    text-align: center;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    pointer-events: none;
}

.navbar ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar i,
.navbar button,
.navbar li {
    pointer-events: auto;
}

.navbar li {
    height: 50px;
    display: flex;
    align-items: center;
    color: black;
}

.navbar a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.navbar.secondary {
    background-color: white;
    position: static;
    height: 200px;
}

/* Display rules */
.inline {
    display: inline;
}

.flex-column {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.flex-row {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

/* A white background with a black border taking up 50% of the screen */
div.fifty {
    width: 50%;
    min-width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border: 3px solid black;
}

/* A white background with a black border taking up 80% of the screen */
div.eighty {
    width: 50%;
    min-width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border: 3px solid black;
}

/* Creates a full width white banner, good for breaking up content throughout a page - can be used with section or div tags */
.fullWhite {
    background-color: white;
    padding: 50px;
}

/* Creates a full width (almost) black banner, best for the footer and not much else - can be used with section or div tags */
.fullBlack {
    background-color: #000000;
    padding: 50px 0;
}

/* The centered class can be used in section or div elements to center text and other elements within their containers.
Typically paired with another class, like "fullWhite" */
section.centered {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    text-align: center;
}

div.centered {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    text-align: center;
}

p.centered {
    text-align: center;
    margin-top: 20px;
}

/* The vertical-center class ensures that a div stays centered vertically on the screen */
.vertical-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Special styling for horizontal rules */
hr {
    border-top: 4px solid;
    width: 50px;
    margin: 15px 0 35px;
    align-self: center;
}

/* Special Layout Scenarios */
.margin-fifty {
    margin: 50px;
}

.width-500 {
    max-width: 500px;
}

/* Itinerary Page */
.itinerary-wrapper {
    padding: 0 30px 30px;
}

.itinerary-day {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
    align-content: stretch;
    gap: 50px;
    margin-bottom: 70px;
}

.itinerary-day-left-column {
    display: flex;
    flex-direction: column;
    min-width: 40%;
}

.itinerary-day-right-column{
    min-height: 600px;
    height: 100%;
    min-width: 50%;
    position: sticky;
    top: 5vh;
}

/* Activity cards */
.activity-card {
    display: grid;
    grid-template-columns: minmax(34%, 34%) minmax(40%, 40%) minmax(20%, 26%);
    grid-template-rows: auto auto auto auto; /* Adjusted to 4 rows */
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 20px;
    max-width: 50vw;
    background-color: #F8F7F5; /*TODO Revise color with the root */
}

.activity-card-media {
    grid-column: 1 / 2;
    grid-row: 1 / 5; /* Adjusted to span 4 rows */
    width: 100%;
    height: auto;
}

.activity-card-media img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.activity-card-content {
    grid-column: 2 / 4; /* Adjusted to span columns 2 and 3 */
    padding: 0px 20px 0px 20px;
}

.activity-card-description {
    margin-bottom: 5px;
    grid-column: 2 / 4;
}

.activity-card-time {
    grid-column: 3 / 4; /* Adjusted to column 3 */
    grid-row: 1 / 2; /* Adjusted to row 1 */
    margin-top: 15px;
    margin-right: 15px;
    margin-bottom: auto;
    justify-self: end;  
}

.activity-card-button {
    grid-column: 3 / 4;
    grid-row: 4 / 5; /* Adjusted to 4th row */
    display: block;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-top: auto;
    margin-right: 10px;
    margin-bottom: 10px;
}



/* Itinerary-cards */
.itinerary-card {
    flex: 0 0 auto; /* Allow cards to shrink if needed */
    width: 300px; /* Set a fixed width for cards */
    background-color: #F8F7F5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

itinerary-card-content {
    padding: 20px; /* Add padding to the content area */
}

.carousel {
    display: flex;
    /* Use flexbox for horizontal layout */
    overflow-x: auto;
    /* Enable horizontal scrolling */
    gap: 20px;
    /* Add space between cards */
}

/* Map Styling */
.map {
    height: 90vh;
    /* The height is 600 pixels */
    width: 100%;
    /* The width is the width of the web page */
    float: right;
}

/* Special rules for lower breakpoints (not including mobile devices) */
@media (max-width: 820px) {

    div.fifty,
    div.eighty {
        width: 100%;
        padding: 0 0 20px;
    }
}

/* HTML Map marker styles */
.activity-tag {
    background-color: #018CB5;
    border-radius: 8px;
    color: #E9FAFF;
    font-size: 14px;
    padding: 10px 15px;
    position: relative;
    box-shadow: 3px 3px 3px #3B2C27;
  }
  
  .activity-tag::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, 0);
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #018CB5;
    box-shadow: 3px 3px 3px #3B2C27;
  }