/*
Gernally speaking, this style sheet should be applied to every page of the site, as it imports
all of the main style sheets and may apply class styling that doesn't fit in any of the other
designated style sheets.
*/

@import url('reset.css');
@import url('typography.css');
@import url('layout.css');
@import url('images.css');
@import url('buttons.css');
@import url('modals.css');
@import url('form-elements.css');
@import url('slidestyle.css');

/* Set base SCSS properties as constants */
:root {
    --alternaitve-text-dark: rgba(0, 0, 0, 1);
    --primary-text: rgba(59, 44, 39, 1);
    --secondary-text: rgba(248, 247, 245, 1);
    --dark-blue: rgba(1, 140, 181, 1);
    --light-blue: rgba(233,250,255,1);
    /*--light-blue: rgba(182, 242, 255, 1);*/
    --yellow: rgba(252, 187, 1, 1);
    --orange: rgba(191, 106, 15, 1);
    /* Transparent versions */
    --dark-blue-transparent: rgba(0, 125, 171, 0.5);
    --light-blue-transparent: rgba(182, 242, 255, 0.5);
    --yellow-transparent: rgba(252, 187, 1, 0.5);
    --orange-transparent: rgba(191, 106, 15, 0.5);
}

/*  Set class hidden to hide content */
.hidden {
    display: none !important;
}

/* Breakpoints to Handle: 1170px, 965px, 580px */