/* This style sheet is used to reset browser defaults to ensure a blank slate as well as set default box sizing to border-box */

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* For Chrome and Safari */
input[type="date"].hide-datepicker::-webkit-inner-spin-button,
input[type="date"].hide-datepicker::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

/* For Firefox */
input[type="date"].hide-datepicker::-moz-calendar {
    display: none;
}

/* General rules for other browsers (may not work for all) */
input[type="date"].hide-datepicker {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    appearance: textfield;
}