.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    height: 50vh;
    width: 90px;
    padding: .4rem .8rem;
    transform: translate(20px, 20px);
    transition: all 0.5s ease;
}

/*.sidebar.active ~ .main-content{
    left: 250px;
    width: calc(100%-250px);
}*/

.sidebar.active{
    width: 250px;
    background-color: #e2e2e2;
    border-radius: 15px;
    padding-left: 20px;
}

.sidebar #menu-icon{
    position: absolute;
    color: black;
    top: .4rem;
    left: 50%;
    font-size: 1.2rem;
    line-height: 50px;
    transform: translateX(-50%);
}

.sidebar.active #menu-icon{
    left:90%;
}

.sidebar .top .logo{
    color: black;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    pointer-events: none;
    opacity: 0;
}

.user {
    display: flex;
}

.user p {
    color: black;
    opacity: 1;
    margin-left: 1rem;
    padding: 30px;
}

.bold {
    font-weight: 600;
}

.sidebar p {
    opacity: 0;
}

.sidebar.active p{
    opacity: 1;
}

.sidebar ul li {
    position: relative;
    list-style-type: none;
    height: 50px;
    width: 90%;
    margin: 0.8rem auto;
    line-height: 50px;
}

.sidebar ul a{
    color: black;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 0.8rem;
}

.sidebar ul a:hover{
    background-color: #fff;
    color: grey;
    border-radius: 0.8rem; /* Rounded border on hover */
    padding: 5px;
}

.sidebar ul li a i {
    min-width: 50px;
    text-align: center;
    height: 50px;
    border-radius: 12px;
    line-height: 50px;
}

.sidebar .nav-item{
    opacity: 0;
}

.sidebar.active .nav-item{
    opacity: 1;
}

.sidebar ul li .tooltip{
    position: absolute;
    left: 125px;
    top: 50%;
    transform: translate(-50%, -50%);
    
}

.sidebar #prf{
    opacity: 0;
}

.sidebar.active #prf{
    opacity: 1;
    padding-left: 4px;
    padding-right: 9px;
}