/* In this style sheet, we set the default styles for headings, paragraphs, and other text */

/* Font imports */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Set styling rules for typography */

/* Font sizes */
/* Headlines */
h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 70px;
    font-weight: 500;
    letter-spacing: 1.5px;
    line-height: 1.2;
    padding-bottom: 30px;
}
  
h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 58px;
    font-weight: 600;
    letter-spacing: -0.5px;
}
  
h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 46px;
    font-weight: 500;
    letter-spacing: 0;
}
  
h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 33px;
    font-weight: 500;
    letter-spacing: 0.25px;
}
  
h5 {
    font-family: 'Poppins', sans-serif;
    font-size: 23px;
    font-weight: 500;
    letter-spacing: 0;
}
  
h6 {
    font-family: 'Poppins', sans-serif;
    font-size: 19px;
    font-weight: 500;
    letter-spacing: 0.15px;
}

/* Subtitles */
.subtitle1 {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.15px;
}
  
.subtitle2 {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.1px;
}
  
/* Body */
p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
}
  
.body2 {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.25px;
}
  
  /* Button */
.button {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1.25px;
    text-transform: uppercase;
}
  
  /* Caption */
.caption {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.4px;
}
  
  /* Overline */
.overline {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

  /* Font sizes mobile*/
h1.mobileFont {
    font-size: 45px;
}

/* other typography */

h2 {
    padding-bottom:20px;
}

h2.bold {
    font-weight: 700;
}

.error {
    color: red;
    font-size: 14px;
}

/* Personal Logo Color */
.personal-logo {
    color: var(--orange);
}

/* Header nav */
.nav-register-span {
    font-weight: 900;
}

/* Itinerary Page */
#itinerary-title {
    color: var(--orange);
    font-size: 40px;
    text-decoration: none;
}

.itinerary-day-title {
    font-size: 25px;
}

/* Activity card typography */ 
.activity-card-activity {
    color: var(--orange);
    font-family: 'Poppins', sans-serif;
}

.activity-card-time {
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-weight: 500;
}

.activity-card-button {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}

/* Itinerary card typography */
itinerary-card-destination {
    font-family: 'Poppins', sans-serif; /* Use Poppins font */
    font-size: 23px;
    color: #3B2C27;/* Set text color */
    text-decoration: none;
}

.itinerary-card a {
    text-decoration: none;
}

.itinerary-card-date {
    font-family: 'Poppins', sans-serif; /* Use Poppins font */
    font-weight: 500;
    color: #BF6A0F; /* Set text color */
}

.itinerary-card-description {
    font-family: Roboto, 
}

.itinerary-card-content h4,
.itinerary-card-content .itinerary-card-date,
.itinerary-card-content p {
    margin-bottom: 15px; /* Adjust the margin as needed */
}

.itinerary-card-button {
    background: none;
    border: none;
    color: #018CB5;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
  }


/* Used to convert any text to white when used on a dark colored background */
.white {
    color: white;
}