{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Trips-R-Us{% endblock %}</title>
    {% block css %}<link href="{% static 'css/mainstyles.css' %}" type="text/css" rel="stylesheet">{% endblock %}
    <script src="https://kit.fontawesome.com/1ea4dc5d95.js" crossorigin="anonymous"></script>
    {% block head_javascript %}{% endblock %}
  <script>
    const googleMapsApiKey = '{{ google_maps_api_key }}';
</script>
  </head>

  <body>
    <div id="wrapper">
      <header>
        {% block nav %}
        {% include 'components/header-main.html' %}
        {% include 'components/auth-modal.html' %}
        {% endblock %}
      </header>

      <main>
        {% block content %}You have reached this page by mistake.{% endblock %}
      </main>

      <footer>
        {% block footer %}{% endblock %}
      </footer>
    </div>

    <script src="{% static 'js/jquery-3.6.4.min.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
    <script src="{% static 'static/js/maps.js' %}"></script>
    {% block javascript %}{% endblock %}
  
  </body>

</html>