{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="bg-image-home">
    <div class="content">
        <div class="centered">
            <a href="{% url 'home' %}"><img src="{% static 'images/branding/trips-r-us-logo-medium.png' %}" alt="Trips-R-Us-Logo" class="logo margin-fifty" draggable="false"></a>
        </div>
        <div class="centered vertical-center width-500">
            <h1 class="white">Let's Explore the World</h1>
            <h5 class="white">Plan the itinerary for your trip in moments! Get started by entering your travel details below.</h5>
        </div>
        <form class="preferences-form" method="POST">
            {% csrf_token %}
            <div class="label-and-input">
                <label for="destination">Destination:
                    {{ form.destination }}
                </label>
            </div>
            <div class="label-and-input">
                <label for="start-date">Start Date:
                    {{ form.start_date }}
                </label>
            </div>
            <div class="label-and-input">
                <label for="end-date">End Date:
                    {{ form.end_date }}
                </label>
            </div>
            <div class="label-and-input">
                <label for="travelers">Number of Travelers:
                    <span>
                        <span style="color: #018CB5;"><i class="fa-solid fa-user"></i></span>
                        {{ form.travelers }}
                    </span>
                </label>
            </div>
            <button type="submit" id="submit-button" class="btn contained bt2">
                <i class="fa fa-check" aria-hidden="true"></i>
            </button>
        </form>
    </div>
</div>
{% endblock %}