{% extends "base.html" %}
{% load static %}

{% block head_javascript %}
    <script>
        const mapsApiKey = '{{ google_maps_api_key }}';
        (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
            key: mapsApiKey,
            v: "weekly",
        });
    </script>
    <script type=module src="{% static 'js/maps.js' %}"></script>
{% endblock %}

{% block title %}
    {% if itinerary %}
        Itinerary | {{ itinerary.title }}
    {% else %}
        Error
    {% endif %}
{% endblock %}

{% block content %}
    {% if itinerary %}
        <section class="itinerary-wrapper">
            <h2 id="itinerary-title">{{ itinerary.title }}</h2>
            <div class="itinerary-day">
                <div class="itinerary-day-left-column">
                    {% for day in itinerary.days.all %}
                        <div class="itinerary-day-column">
                            <h3 class="itinerary-day-title">Day {{ day.day_number }}: {{ day.date }}</h3>
                            {% for activity in day.activity_set.all %}
                                {% include 'components/activity-card.html' %}
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
                <div class="itinerary-day-right-column">
                    {{ map_data|json_script:'map-data' }}
                    {{ map_default_location|json_script:'map-default-location' }}

                    <div class="map" id="map"></div>
                </div>
            </div>
            <div id="map-data" style="display: none;">{{ map_data|safe }}</div>
            <div id="map-default-location" style="display: none;">{{ map_default_location|safe }}</div>
        </section>
    {% else %}
        <p>Itinerary could not be found. Please try again later.</p>
    {% endif %}
{% endblock %}
