{% extends "base.html" %}
{% load static %}
<body>
    {% block content %}
    <div class="container">
        <div class="panel">
            <h2>User Information</h2>
            <p class="name">Name: {% if user.first_name %}{{ user.first_name }} {{ user.last_name }}{% else %}{{ user.username }}{% endif %}</p>
            <p class="name">Username: {{ user.username }}</p><!--Inserts username-->
            <p class="name">Email: {{ user.email }}</p><!--Inserts email-->
        </div>
        <!--We can remove this panel if need be or we can keep it like this-->
        <div class="panel">
            <h2>Privacy and Security</h2>
            <p>Password: ********</p>
            <p>Two-Factor Authentication: Enabled</p>
        </div>
    </div>
</body>
{% endblock %}