{% load static %}
<div class="activity-card">
    <div class="activity-card-media">
      <img src="{{ activity.photos }}" alt="Photo of {{ activity.name }}">
    </div>
    <h5 class="activity-card-activity">{{ activity.name }}</h4>
    <div class="activity-card-content">
        <h6 class="activity-card-address">{{ actvity.address }}</h5>
        <p class="activity-card-description">{{ activity.editSummary }}</p>
    </div>
    <div class="activity-card-time">{{ activity.start_time }} - {{activity.end_time}} </div>
    <a href="{{activity.website }}" class="activity-card-btn btn contained bt2">Visit Website</a>
  </div>