{% load static %}
<div class="activity-card">
    <div class="activity-card-media">
      <img src="https://images.unsplash.com/photo-1575052814086-f385e2e2ad1b?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Activity Image">
    </div>
    <h4 class="activity-card-activity">Yoga Class</h4>
    <div class="activity-card-content">
        <h5 class="activity-card-address">123 Serenity Lane, Blissville, Zenland</h5>
        <p class="activity-card-description">Join us for a relaxing yoga session.</p>
    </div>
    <div class="time">10:00 am</div>
    <a href="#" class="button">Visit Website</a>
  </div>