{% load static %}
<div class="activity-card">
    <div class="activity-card-media">
      <img src="{{ activity.photos }}" alt="Photo of {{ activity.name }}">
    </div>
    <div class="activity-card-header">{{ activity.name }}</div>
    <div class="activity-card-content">
        <p class="location">{{ actvity.address }}</p>
        <div class="description">{{ activity.editSummary }}</div>
      </div>
      <div class="time">{{ activity.start_time }} - {{activity.end_time}} </div>
    <a href="{{activity.website }}" class="button">Visit Website</a>
  </div>