<div id="authModal" class="modal">
    <div class="modal-box" id="auth-modal">
        <div class="modal-form sign-up">
            <form action="{% url 'signup' %}" method="POST">
                {% csrf_token %}
                <h2>Create Account</h2>
                <div class="form-group">
                    {{ register_form.username }}
                    {% if register_form.username.errors %}
                        <div class="error">{{ register_form.username.errors.as_text }}</div>
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ register_form.first_name }}
                    {% if register_form.first_name.errors %}
                        <div class="error">{{ register_form.first_name.errors.as_text }}</div>
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ register_form.last_name }}
                    {% if register_form.last_name.errors %}
                        <div class="error">{{ register_form.last_name.errors.as_text }}</div>
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ register_form.email }}
                    {% if register_form.email.errors %}
                        <div class="error">{{ register_form.email.errors.as_text }}</div>
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ register_form.password1 }}
                    {% if register_form.password1.errors %}
                        <div class="error">{{ register_form.password1.errors.as_text }}</div>
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ register_form.password2 }}
                    {% if register_form.password2.errors %}
                        <div class="error">{{ register_form.password2.errors.as_text }}</div>
                    {% endif %}
                </div>
                <button type="submit" class="btn contained bt2">Sign Up</button>
            </form>
        </div>
        <div class="modal-form sign-in">
            <form action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                <h2>Sign In</h2>
                <div class="form-group">
                    {{ login_form.username }}
                    {% if login_form.username.errors %}
                        <div class="error">{{ login_form.username.errors.as_text }}</div>
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ login_form.password }}
                    {% if login_form.password.errors %}
                        <div class="error">{{ login_form.password.errors.as_text }}</div>
                    {% endif %}
                </div>
                <a href="#">Forgot Your Password?</a>
                <button type="submit" class="btn contained bt2">Sign In</button>
            </form>
        </div>
        <div class="modal-toggle-container">
            <div class="modal-toggle">
                <div class="toggle-panel toggle-left">
                    <h1>Hello Traveler!</h1>
                    <p>Please register to save your itineraries!</p>
                    <div>
                        <p>Already have an account?</p>
                        <button class="btn contained bt1" id="login">Sign In</button>
                    </div>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>Welcome back!</h1>
                    <p>Please enter your details to access your itineraries!</p>
                    <div>
                        <p>Don't have an account?</p>
                        <button class="btn contained bt1" id="register">Sign Up</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>