{% load static %}

<div class="navbar {% if request.resolver_match.url_name != 'home' %}secondary{% endif %}">
    <i class="fa-solid fa-bars fa-2xl" id="menu-icon"></i>
    <div class="sidebar">
        {% include 'components/slideout-menu.html' %}
    </div>
    {% if user.is_authenticated %}
        {% if request.resolver_match.url_name != 'home' %}
            <span>
                <ul>
                    <li><a href="#" class="btn txt bt1">HOME</a></li>
                    <li><i class="fa-solid fa-tree"></i></li>
                    <li><a href="#" class="btn txt bt1">PLAN</a></li>
                    <li><i class="fa-solid fa-tree"></i></li>
                    <li><a href="#" class="btn txt bt1">TRIPS</a></li>
                    <li><i class="fa-solid fa-tree"></i></li>
                    <li><a href="#" class="btn txt bt1">ITINERARY</a></li>
                </ul>
            </span>
        {% endif %}
    
        <span class="flex-row">
            {% if request.resolver_match.url_name != 'home' %}
                <div class="flex-column" id="personal-logo">
                    <img src="{% static 'images/branding/trips-r-us-logo-top.png' %}" alt="Trips-R-Us-Logo-Top">
                    <h3>Welcome, {% if user.first_name %}{{ user.first_name }}{% else %}{{ user.username }}{% endif %}!</h3>
                    <img src="{% static 'images/branding/trips-r-us-logo-bottom.png' %}" alt="Trips-R-Us-Logo-Bottom">
                </div>
            {% endif %}
            <form action="{% url 'logout' %}" method="post" class="inline">
                {% csrf_token %}
                <button type="submit" class="btn contained bt2">Log Out</button>
            </form>
        </span>
    {% else %}
        <span>
            <button id="nav-register-button" class="btn txt bt2">Sign Up</button>
            <button id="nav-signin-button" class="btn contained bt1">Log In</button>
        </span>
    {% endif %}
</div>