{% load static %}
<div class="itinerary-card">
  <div class="itinerary-card-media">
      <img src="{{ activity.photos }}" alt="{{ itinerary.destination }}">
  </div>
  <div class="itinerary-card-content">
    <h4 class="itinerary-card-destination">{{ itinerary.destination }}</h4>
    <div class="itinerary-card-date">
      {{ itinerary.start_date }} - {{ itinerary.end_date }}
    </div>
    <p class="itinerary-card-description">
      {{ itinerary.description}}
    </p>
    <a href="{% url 'itinerary' itinerary.id %}" class="itinerary-card-button">Itinerary</a>
  </div>
</div>
