{% load static %}
        <div class="user">
            <!--Find how to pull User's name to display-->
            <div>
                <p class="bold">User</p>
            </div>
        </div>
        <ul>
            <a href="profile.html">
                <span class="nav-item">View Profile</span>
            </a>
        </ul>
        <!--Place the JS into file-->
<script>
    let btn = document.querySelector('#menu-icon')
    let sidebar = document.querySelector('.sidebar')

    btn.onclick = function () {
        sidebar.classList.toggle('active');
    };
</script>