{% load static %}
        <div class="user">
            <!--Find how to pull User's name to display-->
            <div>
                <p class="bold">User</p>
                <i class="fa-solid fa-x" id="close-icon"></i>
            </div>
        </div>
        <ul>
            <a href="{% url 'profile' %}">
                <span class="nav-item">View Profile</span>
            </a>
        </ul>
        <!--Place the JS into file-->
<script>
    let btn = document.querySelector('#menu-icon')
    let sidebar = document.querySelector('.sidebar')

    btn.onclick = function () {
        sidebar.classList.toggle('active');
    };
    document.addEventListener("DOMContentLoaded", function() {
        let closeBtn = document.querySelector('#close-icon');
        let sidebar = document.querySelector('.sidebar');
    
        closeBtn.onclick = function() {
            sidebar.classList.remove('active');
        };
    });
    
</script>